:root{
    --fondo: #504099;
}

body{
    background-color: var(--fondo);
}

h1, h2, h3, h4, h5{
    margin: 0;
}

.App{
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    margin-bottom: 30px;
}

.controls{
    display: flex;
    gap: 100px;
}

.control{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 30px;
}

.session-timer p{
    font-size: 60px;
    margin: 0; 
}

#timer-label{
    text-align: center;
}

.session-play{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    gap: 5px;
}

.author{
    margin-top: 40px;
    text-align: center;
}