:root{
    --fondo: #504099;
}

body{
    background-color: var(--fondo);
}

h1, h2, h3, h4, h5{
    margin: 0;
}

.App{
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    margin-bottom: 25px;
    font-size: 50px;
}

.controls{
    display: flex;
    gap: 100px;
}

.control{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 30px;
}

.control p{
    margin: 0;
}

.session-timer{
    border: 15px solid rgba(0, 0, 0, 0.363);
    border-radius: 80px;
    padding: 20px 60px;
}

.session-timer p{
    font-size: 90px;
    margin: 0; 
}

#timer-label{
    margin-top: 20px;
    text-align: center;
}

.session-play{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    gap: 5px;
}

.author{
    margin-top: 40px;
    text-align: center;
}
i:hover{
    cursor: pointer;
}